body {
	background-color: black;
	color: white;
	text-align: center;
}

textarea {
  background-color: #210;
  color: #CCC;
}

a {
  color: orange;
}

.scoreboard, .trackinfo {
  background-color: black;
  color: #ddd;
  border: 1px solid;
  border-collapse: collapse;
}

.scoreboard {
  margin-left: auto;
  margin-right: auto;
}

.sbheader {
  color: black;
  background-color: grey;
}

/*
.sbrow {
  color: #ddd;
}
*/

.sbhiddenrow {
  color: #555;
}

.scoreboard th, .scoreboard td, .trackinfo td {
  border: 1px solid;
  padding: 2px 8px 2px 8px;
}

td.numbercell {
  text-align: right;
}

.sbstatusverified {
  background-color: #00035b;
}

.sbstatuspending {
  background-color: #580f41;
}

.sbstatusrejected {
  background-color: #840000;
}

.sbhiddenrow > .sbstatusrejected,
.sbhiddenrow > .sbstatuspending,
.sbhiddenrow > .sbstatusverified {
  color: #888;
}
